/* ===== HEADER ===== */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;

    padding: 12px 32px;
    border-bottom: 3px solid lightgray;
    border-radius: 4px;
}

.header > div,
.header > nav {
    flex: 1;
}

.logo {
    width: 240px;
}

.logo-container {
    display: flex;
    justify-content: center;
}

.navigation {
    display: flex;
    gap: 20px;
}

.navigation a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-family: Arial, sans-serif;
    padding: 8px 14px;
    border-radius: 8px;
}

.navigation a:hover {
    background-color: lightgray;
}

/* ===== FOOTER ===== */

.footer {
    background-color: #f5f5f5;
    border-top: 2px solid lightgray;
    margin-top: 50px;
    padding: 20px 30px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Links linksbündig */
.footer-links {
    display: flex;
    gap: 20px;
}

.footer-links a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.footer-links a:hover {
    text-decoration: underline;
}

/* Info rechts */
.footer-info {
    font-size: 14px;
    color: gray;
}